.card-1 {
  border-top: 10px solid #ff4f64;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.card-2 {
  border-top: 10px solid #00a8e7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.card-3 {
  border-top: 10px solid #44c4a1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.card-4 {
  border-top: 10px solid #fcc200;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.imageset {
  height: 120px;
  width: 120px;
  align-self: flex-end;
}
/* Write CSS code here. */
